.green {
    background-color: green;
}

.gold {
    background-color: gold;
}

.pink {
    background-color: pink;
    color: rgb(225, 92, 114);
}

.blue {
    background-color: royalblue;
    color: rgb(130, 153, 223);
}